.Page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  /* border: 1px solid black; */
  &.odd {
    border-right: 1px solid black;
  }
  .hidden {
    display: none;
  }

  .page-footer {
    position: absolute;
    bottom: 5px;
    text-align: center;
  }
}
