.PhotoAlbumContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 85%;
  .create-album-entry {
    position: absolute;
    z-index: 1;
    div {
      background-color: brown;
      padding: 0 8px 4px;
      color: white;
      width: fit-content;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
    }
  }
  .PhotoAlbum {
    display: flex;
    background-color: white;
    height: 100%;
  }
  .pagination {
    display: flex;
    padding-top: 8px;
    .prev-page,
    .next-page {
      width: 50%;
      .prev-btn,
      .next-btn {
        cursor: pointer;
        padding: 4px 8px;
        background-color: brown;
        color: white;
        width: fit-content;
      }
      .next-btn {
        float: right;
      }
    }
  }
}
