.PhotoAlbumContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
}
.PhotoAlbum {
  display: flex;
  background-color: white;
  height: 100%;
}
.pagination {
  display: flex;
  padding-top: 8px;
}
.prev-page,
.next-page {
  width: 50%;
}
.prev-btn,
.next-btn {
  cursor: pointer;
  padding: 4px 8px;
  background-color: brown;
  color: white;
  width: fit-content;
}
.next-btn {
  float: right;
}
