.Toolbar {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  cursor: pointer;
  padding-top: 8px;

  .create-btn {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  .toggle-edit-mode {
    padding: 8px;
    margin-right: 8px;

    &.selected {
      display: flex;
      background-color: white;
      border: 2px solid black;
      box-shadow: 0 0 4px 1px gray;
    }
  }
}
