.Toolbar {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  cursor: pointer;
  padding-top: 8px;

  .toggle-edit-mode {
    padding: 8px;
    margin-right: 8px;

    &.selected {
      display: flex;
      background-color: brown;
      color: white;
    }
  }
}
