.PhotoAlbumContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;

  .pagination {
    &.next-page {
      margin-left: 50px;
    }
    &.prev-page {
      margin-right: 50px;
    }

    .prev-btn,
    .next-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3px;
      width: 28px;
      height: 28px;
      background-color: #0e2677;
      border: 1px solid #0e2677;
      border-radius: 100%;
      cursor: pointer;

      .arrow {
        display: inline-block;
        border: solid white;
        border-width: 0 4px 4px 0;
        padding: 4px;
        &.left {
          transform: rotate(135deg);
          margin-right: -4px;
        }
        &.right {
          transform: rotate(-45deg);
          margin-left: -4px;
        }
      }
    }
  }
}
